<h2>Ingredients</h2>
  <ul>
    <% @ingredients.each do |ingredient| %>
        <li>
            <%= ingredient.name %>
            <%= link_to "edit", edit_ingredient_path(ingredient) %>
            <%= link_to "delete", ingredient_path(ingredient), data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            } %>
        </li>
    <% end %>
</ul>

<h2>Add ingredients:</h2>
<%= render "form", ingredient: @ingredient %>